<a href="https://colab.research.google.com/github/danysc/kgdata/blob/main/Features_data_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Features_data_set

https://www.kaggle.com/manjeetsingh/retaildataset

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

In [7]:
# Read the csv fro my GitHub
data_set = pd.read_csv('https://raw.githubusercontent.com/danysc/kgdata/main/Features_data_set.csv')
data_set.head()

      Store        Date  Temperature  ...         CPI  Unemployment  IsHoliday
0         1  05/02/2010        42.31  ...  211.096358         8.106      False
1         1  12/02/2010        38.51  ...  211.242170         8.106       True
2         1  19/02/2010        39.93  ...  211.289143         8.106      False
3         1  26/02/2010        46.63  ...  211.319643         8.106      False
4         1  05/03/2010        46.50  ...  211.350143         8.106      False
...     ...         ...          ...  ...         ...           ...        ...
8185     45  28/06/2013        76.05  ...         NaN           NaN      False
8186     45  05/07/2013        77.50  ...         NaN           NaN      False
8187     45  12/07/2013        79.37  ...         NaN           NaN      False
8188     45  19/07/2013        82.84  ...         NaN           NaN      False
8189     45  26/07/2013        76.06  ...         NaN           NaN      False

[8190 rows x 12 columns]

In [13]:
data_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8190 entries, 0 to 8189
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         8190 non-null   int64
 1   Date          8190 non-null   object
 2   Temperature   8190 non-null   float64
 3   Fuel_Price    8190 non-null   float64
 4   MarkDown1     4032 non-null   float64
 5   MarkDown2     2921 non-null   float64
 6   MarkDown3     3613 non-null   float64
 7   MarkDown4     3464 non-null   float64
 8   MarkDown5     4050 non-null   float64
 9   CPI           7605 non-null   float64
 10  Unemployment  7605 non-null   float64
 11  IsHoliday     8190 non-null   bool
dtypes: bool(1), float64(9), int64(1), object(1)
memory usage: 712.0+ KB

In [11]:
#Null Check:
# Note the null values
data_set.isnull().sum()

Store              0
Date               0
Temperature        0
Fuel_Price         0
MarkDown1       4158
MarkDown2       5269
MarkDown3       4577
MarkDown4       4726
MarkDown5       4140
CPI              585
Unemployment     585
IsHoliday          0
dtype: int64

In [12]:
# Duplicate check:
# No duplicated row
data_set.duplicated().sum()

0